@font-face {
	font-family: 'Adobe Clean Bold';
	src: url('../fonts/AdobeClean-Bold.otf');
	font-weight: bold;
}

#preview-div * {
	font-family: 'Adobe Clean Bold';
}

#preview {
	width: min(30vh, 20vw);
}

#container {
	padding: 3rem !important;
}

.input-section label {
	padding: 0.5rem;
}

.input-section input {
	padding: 0.5rem;
}

.input-section {
	margin: 0 0 2rem 0;
}

.preview {
	padding: 2rem;
}

#vertical-label {
	margin-right: 1.31rem;
}

button {
	margin: 1rem;
}
